<ion-header>
    <ion-toolbar>
        <ion-title>
            <h2>
                {{'core.user.useraccount' | translate}}
            </h2>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="close($event)" [attr.aria-label]="'core.close' | translate">
                <ion-icon name="fas-times" slot="icon-only" aria-hidden="true"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <core-loading [hideUntil]="siteLogoLoaded && handlersLoaded">
        <ion-list>
            <ion-item button class="core-usermenu-siteinfo ion-text-wrap" *ngIf="siteInfo" lines="full" detail="false" [href]="siteUrl"
                core-link auto-login="yes">
                <ion-label>
                    <!-- Show site logo. -->
                    <img class="core-usermenu-site-logo" *ngIf="siteLogo && siteLogoLoaded" [src]="siteLogo" role="presentation" alt=""
                        onError="this.class='image-not-found'">
                    <p class="core-usermenu-sitename">
                        <core-format-text [text]="siteName" contextLevel="system" [contextInstanceId]="0" [wsNotFiltered]="true">
                        </core-format-text>
                    </p>
                    <a [href]="siteUrl" core-link auto-login="yes" class="core-usermenu-siteurl">{{ siteUrl }}</a>
                </ion-label>
            </ion-item>
            <ion-item button class="core-usermenu-handler ion-text-wrap" *ngIf="siteInfo" lines="full" (click)="openUserProfile($event)"
                detail="true" [attr.aria-label]="'core.user.profile' | translate">
                <core-user-avatar [user]="siteInfo" [userId]="siteInfo.userid" [linkProfile]="false" slot="start"></core-user-avatar>
                <ion-label>
                    <h2>{{ siteInfo.fullname }}</h2>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-button expand = "full" (click) = "goto('gamify')">
                    Gamification
                </ion-button>
            </ion-item>


        </ion-list>
    </core-loading>
</ion-content>
<ion-footer>
    <ion-item *ngIf="displaySwitchAccount" button lines="full" (click)="switchAccounts($event)" detail="true" class="ion-text-wrap">
        <ion-icon name="fas-exchange-alt" slot="start" aria-hidden="true"></ion-icon>
        <ion-label>
            <p class="item-heading">{{ 'core.mainmenu.switchaccount' | translate }}</p>
        </ion-label>
    </ion-item>
    <div class="ion-padding">
        <ion-button (click)="logout($event)" expand="block" color="danger" [attr.aria-label]="'core.mainmenu.logout' | translate"
            class="ion-text-wrap">
            <ng-container *ngIf="!removeAccountOnLogout">
                <ion-icon name="fas-sign-out-alt" slot="start" aria-hidden="true"></ion-icon>
                {{ 'core.mainmenu.logout' | translate }}
            </ng-container>
            <ng-container *ngIf="removeAccountOnLogout">
                <ion-icon name="fas-trash" slot="start" aria-hidden="true"></ion-icon>
                {{ 'core.login.removeaccount' | translate }}
            </ng-container>
        </ion-button>
    </div>
</ion-footer>
